In [36]:
import numpy as np
import pandas as pd

municipalities = pd.read_csv('/Users/RodolfoSaldanha/Desktop/IP/7_lecture/HW7/municipalities.csv', header=None)
popsize = pd.read_csv('/Users/RodolfoSaldanha/Desktop/IP/7_lecture/HW7/popsize.csv', delimiter=';', header=None)
proc = pd.read_csv('/Users/RodolfoSaldanha/Desktop/IP/7_lecture/HW7/proc_2013.csv', delimiter=';')
cpv = pd.read_excel('/Users/RodolfoSaldanha/Desktop/IP/7_lecture/HW7/cpv_codes.xlsx', sheet_name='CPV codes')

In [37]:
col1 = ['municipality']

municipalities.columns = (col1)
municipalities.head()

         municipality
0            ABRANTES
1     AGUIAR DA BEIRA
2           ALANDROAL
3  ALBERGARIA-A-VELHA
4           ALBUFEIRA

In [38]:
col2 = ['municipality', 'pop']
popsize = popsize.iloc[:, :-1]
popsize.columns = col2
popsize.head()

        municipality      pop
0  Arcos de Valdevez   22 284
1            Caminha   16 465
2            Melgaço    8 874
3             Monção   18 931
4   Paredes de Coura    9 039

In [39]:
proc.drop(proc.columns[0], axis = 1, inplace=True)
proc.head()

,dataBase,type,contracting,contracted,CPV,date,value,duration,location,closingDate,finalvalue
0,dataBase,Aquisição de serviços,"Inforfiel - Formação Profissional, L.da (50482...",CAIXA DE CRÉDITO AGRÍCOLA MUTUO DO VALE DO SOU...,"70000000-1, Serviços imobiliários",01-01-2013,"28.200,00 €",365 dias,"Portugal, Porto, Penafiel",31-12-2013,"28.200,00 €"
1,dataBase,Aquisição de serviços,"Multiformactiva - Formação Profissional, L.da ...","EDP, SA. (507846044)","65310000-9, Distribuição de electricidade",01-01-2013,"7.944,57 €",365 dias,"Portugal, Porto, Marco de Canaveses",31-12-2013,"7.944,57 €"
2,dataBase,Aquisição de serviços,Secretaria-Geral do Ministério da Administraçã...,Plug & Play (504897691),"72253200-5, Serviços de apoio a sistemas",01-01-2013,"7.020,00 €",365 dias,"Portugal, Lisboa, Lisboa",-,-
3,dataBase,Aquisição de serviços,Centro Hospitalar Póvoa de Varzim - Vila do Co...,"CONFORLIMPA (TEJO),SA-LIMPEZAS INDUSTRIAIS,SA ...","98310000-9, Serviços de lavagem e de limpeza a...",01-01-2013,"167.423,10 €",365 dias,"Portugal, Porto, Vila do CondePortugal, Porto,...",-,-
4,dataBase,Aquisição de serviços,Centro Hospitalar Póvoa de Varzim - Vila do Co...,"RONSEGUR-RONDAS E SEGURANÇA, LDA (507011724)","79710000-4, Serviços de segurança",01-01-2013,"93.240,00 €",365 dias,"Portugal, Porto, Póvoa de VarzimPortugal, Port...",-,-

In [40]:
cpv.head()

,CODE,EN,PT
0,03000000-1,"Agricultural, farming, fishing, forestry and r...","Produtos da agricultura, da pesca, da silvicul..."
1,03100000-2,Agricultural and horticultural products,Produtos agrícolas e hortofrutícolas
2,03110000-5,"Crops, products of market gardening and hortic...","Cereais, produtos de culturas industriais e da..."
3,03111000-2,Seeds,Sementes
4,03111100-3,Soya beans,Soja

In [41]:
# Remove euro sign
proc['value'] = proc['value'].str.replace('€', '')
proc['finalvalue'] = proc['finalvalue'].str.replace('€', '')

# Remove dot in the middle of the number
proc['value'] = proc['value'].str.replace('.', '')
proc['finalvalue'] = proc['finalvalue'].str.replace('.', '')

# Replace the commas by dots to facilitate the conversion of string to float
proc['value'] = proc['value'].str.replace(',', '.')
proc['finalvalue'] = proc['finalvalue'].str.replace(',', '.')

# Replace slash by nan
proc['finalvalue'] = proc['finalvalue'].replace('-', np.nan)

# Convert string to float
proc['value'] = proc['value'].astype(float)
proc['finalvalue'] = proc['finalvalue'].astype(float)

In [43]:
proc.dtypes

dataBase        object
type            object
contracting     object
contracted      object
CPV             object
date            object
value          float64
duration        object
location        object
closingDate     object
finalvalue     float64
dtype: object

In [61]:
# Remove the description of the CPV
proc['CPV'] = proc['CPV'].str.split(',').str[0]

# Remove all the information from the opening until the closing parenthesis, which in this case is the NIF
proc['contracting'] = proc['contracting'].str.replace(r"\(.*\)","")
proc['contracted'] = proc['contracted'].str.replace(r"\(.*\)","")

In [62]:
proc.head()

,dataBase,type,contracting,contracted,CPV,date,value,duration,location,closingDate,finalvalue
0,dataBase,Aquisição de serviços,"Inforfiel - Formação Profissional, L.da",CAIXA DE CRÉDITO AGRÍCOLA MUTUO DO VALE DO SOU...,70000000-1,01-01-2013,28200.00,365 dias,"Portugal, Porto, Penafiel",31-12-2013,28200.00
1,dataBase,Aquisição de serviços,"Multiformactiva - Formação Profissional, L.da","EDP, SA.",65310000-9,01-01-2013,7944.57,365 dias,"Portugal, Porto, Marco de Canaveses",31-12-2013,7944.57
2,dataBase,Aquisição de serviços,Secretaria-Geral do Ministério da Administraçã...,Plug & Play,72253200-5,01-01-2013,7020.00,365 dias,"Portugal, Lisboa, Lisboa",-,NaN
3,dataBase,Aquisição de serviços,Centro Hospitalar Póvoa de Varzim - Vila do Co...,CONFORLIMPA,98310000-9,01-01-2013,167423.10,365 dias,"Portugal, Porto, Vila do CondePortugal, Porto,...",-,NaN
4,dataBase,Aquisição de serviços,Centro Hospitalar Póvoa de Varzim - Vila do Co...,"RONSEGUR-RONDAS E SEGURANÇA, LDA",79710000-4,01-01-2013,93240.00,365 dias,"Portugal, Porto, Póvoa de VarzimPortugal, Port...",-,NaN